---
- name: Install raspberry pi
  hosts: raspberry_pis
  vars_files:
    - vault.yml
    - versions.yml
  roles:
    # These roles are disabled after they have being applied once for performance reasons, it should be safe to enable them again.
    # Notice that this role changes some settings on reruns (on the "Change various sysctl-settings" task), doesn't seem problematic though.
    - role: fstab
    - role: devsec.hardening.ssh_hardening
      become: true
    - role: geerlingguy.docker
      become: true
    - role: hostname
    - role: dnsmasq
    - role: packages
    - role: user
    - role: cloudflare-ddns
    - role: cloudflared
    - role: nginx
    - role: portainer
    - role: actual
    - role: postgres
    - role: mysql
    - role: monitoring
    - role: watchtower
    - role: immich
    - role: stirling-pdf
    - role: cyberchef
    - role: karakeep
    - role: memos
    - role: paperless-ngx
    - role: kimai
    - role: backups
  vars:
    # devsec.hardening.ssh_hardening vars:
    ssh_client_port: 22 # Default, but duplicated here for documentation purpose. Not changed because its only accessible via LAN.
    ssh_client_password_login: false # Default, but duplicated here for documentation purpose.
    ssh_allow_tcp_forwarding: true
    # geerlingguy.docker vars:
    docker_edition: 'ce'
    docker_install_compose_plugin: true
    docker_daemon_options:
      metrics-addr: '0.0.0.0:9323'
  tasks:
    # This task can be handy for debugging gathered facts, uncomment it if necessary:
    # - name: Store gathered facts in local file
    #   delegate_to: localhost
    #   ansible.builtin.copy:
    #     dest: './.ansible_facts.json'
    #     content: "{{ ansible_facts }}"
    #     mode: "0600"
