---
- name: Ensure directory exists
  ansible.builtin.file:
    path: /bulk/actual_data
    state: directory
    mode: '0755'
- name: Install the container
  become: true
  community.docker.docker_container:
    name: actual-server
    image: "docker.io/actualbudget/actual-server:latest"
    image_name_mismatch: recreate
    ports:
      - "127.0.0.1:5006:5006/tcp"
    mounts:
      - source: /bulk/actual_data
        target: /data
        type: bind
    restart_policy: always
- name: Include proxy-setup role
  ansible.builtin.include_role:
    name: proxy-setup
  vars:
    proxy_setup_internal_port: 5006
    proxy_setup_internal_subdomain: actual
