#!/bin/bash
/snap/bin/certbot certonly \
        --dns-cloudflare \
        --dns-cloudflare-propagation-seconds 120 \
        --dns-cloudflare-credentials '{{ cloudflare_credential_dir_path }}/{{ cloudflare_credential_filename }}' \
        --agree-tos -m {{ administration_email }} \
        -d $1
