---
- name: Ensure the Karakeep data directory exists
  ansible.builtin.file:
    path: /bulk/karakeep_data
    state: directory
    mode: '0755'
- name: Ensure the Meilisearch data directory exists
  ansible.builtin.file:
    path: /bulk/karakeep_meilisearch
    state: directory
    mode: '0755'
- name: Create the compose project directory
  ansible.builtin.file:
    path: "/home/{{ ansible_user_id }}/karakeep"
    state: directory
    owner: "{{ ansible_user_id }}"
    mode: '0744'
- name: Create the docker-compose.yml file
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: "/home/{{ ansible_user_id }}/karakeep/docker-compose.yml"
    owner: "{{ ansible_user_id }}"
    mode: '0644'
- name: Create the .env file
  ansible.builtin.template:
    src: .env.j2
    dest: "/home/{{ ansible_user_id }}/karakeep/.env"
    owner: "{{ ansible_user_id }}"
    mode: '0644'
- name: Create and start services
  become: true
  community.docker.docker_compose_v2:
    project_src: "/home/{{ ansible_user_id }}/karakeep/"
