---
database_backups:
  - host: postgres.kleinendorst.info
    dbname: memos
    username: memos
    password: "{{ memos_postgres_pass }}"
  - host: postgres.kleinendorst.info
    dbname: paperless
    username: paperless
    password: "{{ paperless_postgres_pass }}"
docker_volume_backups:
  - volume_name: /bulk/actual_data
    container_name: actual-server
  - volume_name: /bulk/grafana_data
    container_name: grafana-server
  - volume_name: /bulk/karakeep_data
    container_name: karakeep-web-1
  - volume_name: /bulk/karakeep_meilisearch
    container_name: karakeep-meilisearch-1
  - volume_name: portainer_data
    container_name: portainer
  - volume_name: /bulk/paperless_data
    container_name: paperless-webserver-1
  - volume_name: /bulk/paperless_media
    container_name: paperless-webserver-1
