---
database_backups:
  postgres:
    - host: postgres.kleinendorst.info
      dbname: memos
      username: memos
      password: "{{ memos_postgres_pass }}"
    - host: postgres.kleinendorst.info
      dbname: paperless
      username: paperless
      password: "{{ paperless_postgres_pass }}"
  mysql:
    - host: mysql.kleinendorst.info
      dbname: kimai
      username: kimai
      password: "{{ kimai_mysql_pass }}"
docker_mount_backups:
  - mount_path: /bulk/actual_data
    container_name: actual-server
  - mount_path: /bulk/grafana_data
    container_name: grafana-server
  - mount_path: /bulk/karakeep_data
    container_name: karakeep-web-1
  - mount_path: /bulk/karakeep_meilisearch
    container_name: karakeep-meilisearch-1
  - mount_path: /bulk/vaultwarden_data
    container_name: vaultwarden
  - mount_path: /bulk/portainer_data
    container_name: portainer
  - mount_path: /bulk/paperless_data
    container_name: paperless-webserver-1
  - mount_path: /bulk/paperless_media
    container_name: paperless-webserver-1
  # There are backup instructions here: https://www.kimai.org/documentation/backups.html
  # Looking up the directories showed that this documentation is probably outdated though
  # (missing folders and the .env file doesn't contain anything interesting). Instead I backup
  # the volumes as are mounted in the compose example: https://www.kimai.org/documentation/docker-compose.html.
  # I also tested these files by removing the container and recreating: even invoices were working that way
  # so it should be fine.
  - mount_path: /bulk/kimai_data
    container_name: kimai-server
  - mount_path: /bulk/kimai_plugins
    container_name: kimai-server
