---
database_backups:
  postgres:
    - host: postgres.kleinendorst.info
      dbname: memos
      username: memos
      password: "{{ memos_postgres_pass }}"
    - host: postgres.kleinendorst.info
      dbname: paperless
      username: paperless
      password: "{{ paperless_postgres_pass }}"
docker_mount_backups:
  - mount_path: /bulk/actual_data
    container_name: actual-server
  - mount_path: /bulk/grafana_data
    container_name: grafana-server
  - mount_path: /bulk/karakeep_data
    container_name: karakeep-web-1
  - mount_path: /bulk/karakeep_meilisearch
    container_name: karakeep-meilisearch-1
  - mount_path: /bulk/portainer_data
    container_name: portainer
  - mount_path: /bulk/paperless_data
    container_name: paperless-webserver-1
  - mount_path: /bulk/paperless_media
    container_name: paperless-webserver-1
